*{                       /* * : adapt all tag */
  box-sizing: border-box;  /* you can find border-box image from f12*/
}

/*.col-sm-4{*/
/*    height:px;*/
    
/*}*/

.container{
    margin-top:10%;
    height:80%;
}

.image{
    width:100%;
    height:100%;

    opacity: 0.5;
}

