*{                       /* * : adapt all tag */
  box-sizing: border-box;  /* you can find border-box image from f12*/
}

.col-sm-4{
    width:200px;
    height:300px;
    background-color: red;
}

body{
    background-image : url(/img/siesta.jpg);
    background-size : cover;
    width:100%;
    height:100%;
<<<<<<< HEAD
    display:block;
    vertical-align:center;
=======
    /*display: block;*/
>>>>>>> 26f7ed99f04d5695cf476028ead352d9d8fd203a
    
}


